{% extends 'base.html' %}

{% block header %}
    <title>{{title}}</title>
{% endblock %}

{% block button_area %}
<div class="container">
  <div class="alert alert-info mt-5" role="alert">
    以下の項目を追加しました。
  </div>
</div>
{% endblock button_area %}

{% block content %}
<div class="container mt-5">
  <p>{{post}}</p>
  <table class="table table-striped table-sm table-bordered shadow">
    <thead style="background: linear-gradient(#6495ED,#4169E1); color: #fff;">
      <tr>
        <th>コード1</th>
        <th>コード2</th>
        <th>名称</th>
        <th>点数</th>
        <th>使用フラグ</th>
        <th>開始日</th>
      </tr>
    </thead>
    <tbody>
      {% for item in newitems %}
      <tr>
        <td>{{ item.CODE }}</td>
        <td>{{ item.CODE2 }}</td>
        <td>{{ item.NAME }}</td>
        <td>{{ item.POINTS }}</td>
        <td>{{ item.USE_FLAG }}</td>
        <td>{{ item.STARTDATE }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="ml-3 btn btn_close mb-5" href="{% url 'maintenance_item' %}">戻る</a>
</div>

{% endblock content %}

{% load static %}



