{% extends 'base.html' %}
{% block header %}
<style type="text/css">
.proc-flame{
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #FFFFFF;
    border-left: solid 3px #BAD3FF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.23);
}
.proc-flame p {
    margin: 0; 
    padding: 0;
}

.proc-flame h5 {
    margin: 0; 
    padding-bottom: 0;
    border-bottom: solid 1px #444444;
    font-weight: bold;
}
</style>
<title>{{ menu_info.0.menu_name }}</title>
{% endblock %}

{% block button_area %}
<div class="container-fluid">
  <h4 style="text-align: center; margin-top: 1vh;">{{ menu_info.0.menu_name }}</h4><hr noshade style="margin: 0;">

  <!-- ボタンエリア -->
  <div class="container-fluid text-center button_area">
    <a href="{% url 'indexview' %}" class="btn btn_close" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;">閉じる</a>
  </div>
</div>
{% endblock button_area %}

{% block content %}
<div class="container-fluid">
  {% if period_messe %}
    <h4 class="text-danger" style="margin-top: 1%;">{{ period_messe }}</h4>
  {% else %}
    <h4 style="margin-top: 1%;">期間：{{ period_str }}</h4>
  {% endif %}
  <div class="row">
    <div class="col-md-6 proc-flame">
      <h5>レセプトデータ</h5>
      <table class="table table-sm table-borderless mt-2">
        <tr>
          <th>格納フォルダ</th>
          <td>
            <p class="copy_text" id="copytext_receipt_pre_folder">{{ receipt_pre_folder }}</p>
             <button class="copybtn" id="copybtn_receipt_pre_folder">コピー</button>
          </td>
        </tr>
        <tr>
          <th>対象ファイル</th>
          <td>「国保/RECEIPTD.UKE、 社保/RECEIPTD.UKE、 "国保/RECEIPTC.UKE、 社保/RECEIPTC.UKE」</td>
        </tr>
      </table>
      <table class="table table-sm table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">フォルダ</th>
            <th scope="col">状態</th>
          </tr>
        </thead>
        <tbody>
          {% for item in rece_pre_object_list %}
              {% if item.flg == 0 %}
                <tr>
                    <td>{{ item.file }}</td>
                    <td>{{ item.status }}</td>
                </tr>
              {% else %}
                <tr style="background-color: #FFEEFF;">
                    <td>{{ item.file }}</td>
                    <td>{{ item.status }}</td>
                </tr>
              {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-6 proc-flame">
      <h5>カルテデータ</h5>
      <table class="table table-sm table-borderless mt-2">
        <tr>
          <th>格納フォルダ</th>
          <td>
            <p class="copy_text" id="copytext_karte_pre_folder">{{ karte_pre_folder }}</p>
             <button class="copybtn" id="copybtn_karte_pre_folder">コピー</button>
          </td>
        </tr>
        <tr>
          <td class="text-light">対象ファイル</td>
          <td> </td>
        </tr>
      </table>
      <table class="table table-sm table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">ファイル</th>
            <th scope="col">期間・状態</th>
          </tr>
        </thead>
        <tbody>
          {% for item in karte_pre_object_list %}
            {% if item.NGFLAG == 0 %}
              <tr>
                <td>{{ item.ITEM }}</td>
                <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
              </tr>
            {% else %}
              <tr style="background-color: #FFEEFF;">
                <td>{{ item.ITEM }}</td>
                <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

      {% if ng_flag == 1 %}
        <form action="{% url 'createmodel' %}" method="post">
      {% else %}
        <form action="{% url 'run_create_model' %}" method="post">
      {% endif %}
          {% csrf_token %}
          <div class="proc-dummy" style="visibility: hidden;">
                <input type="text" id="karte_period" name="karte_period" value="{{ karte_period }}">
          </div>

          <!-- 実行前の確認メッセージ -->
          {% if ng_flag == 1 %}
          <div class="container" style="background-color: #FFEEFF; padding: 20px; margin-bottom: 20px; border-radius: 10px; border: solid; border-color: #AAAAAA; border-width: 1px;">
            <h5>{{ rece_file_none_messe }}</h5>
            <h5>{{ period_messe }}</h5>
            <h5>{{ karte_period_messe }}</h5>
            <h5>データを入れなおした後、「再表示」ボタンをクリックしてください。</h5>
          </div>
          {% else %}
          <div class="container" style="background-color: #EEFFFF; padding: 20px; margin-bottom: 20px; border-radius: 10px; border: solid; border-color: #AAAAAA; border-width: 1px;">
            <h5>この内容で「モデル作成」を実施します。</h5>
            <h5>よろしければ、「実行」ボタンをクリックしてください。</h5>
          </div>
          {% endif %}

          <!-- データが揃っていたら「実行」ボタンを、揃っていなかったら「再表示」ボタンを表示 -->
            <div class="container text-center">
              {% if ng_flag == 1 %}
                <input type="submit" value="再表示" class="btn btn_submit w-25" id="data_chk">
              {% else %}
                <input type="submit" value="実行" class="btn btn_submit w-25" id="data_chk">
              {% endif %}
            </div>
        </div>
        </form>
      </div>
  </div>
</div>
{% endblock content %}
