{% extends 'base.html' %}
{% block header %}
<title>{{ menu_info.0.menu_name }}</title>
{% endblock %}

{% block button_area %}
<div class=" container-fluid">
  <h4 style="text-align: center; margin-top: 1vh;">{{ menu_info.0.menu_name }}</h4><hr noshade style="margin: 0;">

  <!-- ボタンエリア -->
  <div class="container-fluid text-center button_area">
    <a href="{% url 'indexview' %}" class="btn btn_close" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-times"></i>  閉じる</a>
  </div>
</div>
{% endblock button_area %}

{% block content %}
<div class="container text-center mt-5">
  <h5>{{ menu_info.0.menu_name }}を開始しました。</h5>
</div>
{% endblock content %}
