{% extends 'base.html' %}

{% block header %}
<title>算定項目詳細</title>
<style type="text/css">
  table{
    table-layout: fixed;
    font-size: 120%;
    margin-top: 1%;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
  }
  th{
    background-color: #EEEEEE;
    width: 20%;
  }
</style>
{% endblock %}

{% block button_area %}
<div class="container-fluid text-center">
<h4 style="text-align: center; margin-top: 1vh;">算定項目詳細</h4><hr noshade style="margin: 0;">
<!-- ボタンエリア -->
  <div class="container-fluid text-center button_area">
    <a href="{% url 'edit_item' obj.id%}" class="btn btn_submit" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-edit"></i> 編集</a>
    <a href="{% url 'delete_item' obj.id%}" class="btn btn_display" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-trash-alt"></i> 削除</a>
    <a href="{% url 'maintenance_item' %}" class="btn btn_close" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-times"></i> 閉じる</a>
  </div>
</div>
{% endblock button_area %}

{% block content %}
  <div class="container mt-5">
      <table class="table table-bordered shadow">
        <tbody>
          <tr>
            <th >算定項目コード</th>
            <td>{{ obj.CODE }}</td>
          </tr>
          <tr>
            <th >算定項目コード２</th>
            <td>{{ obj.CODE2 }}</td>
          </tr>
          <tr>
            <th >算定項目名称</th>
            <td>{{ obj.NAME }}</td>
          </tr>
          <tr>
            <th >点数</th>
            <td>{{ obj.POINTS }}</td>
          </tr>
          <tr>
            <th >検知率</th>
            <td>{{ obj.PREDICT_PROBA }}</td>
          </tr>
          <tr>
            <th >使用フラグ</th>
            {% if obj.USE_FLAG %}
            <td>使用可</td>
            {% else %}
            <td>使用不可</td>
            {% endif %}
          </tr>
          <tr>
            <th >検知の方法</th>
            {% if obj.RULE_FLAG %}
            <td>ルール</td>
            {% else %}
            <td>機械学習</td>
            {% endif %}
          </tr>
          <tr>
            <th>開始日</th>
            <td>{{ obj.STARTDATE }}</td>
          </tr>
          <tr>
            <th >終了日</th>
            <td>{{ obj.ENDDATE }}</td>
          </tr>
          <tr>
            <th>備考</th>
            <td>{{ obj.NOTE }}</td>
          </tr>
          <tr>
            <th>作成者</th>
            <td>{{ obj.CREATEUSER }}</td>
          </tr>
          <tr>
            <th>作成日時</th>
            <td>{{ obj.CREATEDATE }}</td>
          </tr>
          <tr>
            <th>更新者</th>
            <td>{{ obj.UPDATEUSER }}</td>
          </tr>
          <tr>
            <th>更新日時</th>
            <td>{{ obj.UPDATEDATE }}</td>
          </tr>
        </tbody>
      </table>
  </div>


{% endblock content %}
