{% extends 'base.html' %}

{% block header %}
<title>{{title}}</title>
{% endblock %}

{% block button_area %}
<div class="container-fluid text-center">
<h4 style="text-align: center; margin-top: 1vh;">{{title}}</h4><hr noshade style="margin: 0;">
<!-- ボタンエリア -->
  <div class="container-fluid text-center button_area">
    <a href="{% url 'edit_hanyo' obj.id%}" class="btn btn_submit" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-edit"></i> 編集</a>
    <a href="{% url 'delete_hanyo' obj.id%}" class="btn btn_display" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-trash-alt"></i> 削除</a>
    <a href="{% url 'hanyo_leaf' obj.CODE1 %}" class="btn btn_close" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-undo-alt"></i> 戻る</a>
  </div>
</div>
{% endblock button_area %}

{% block content %}
  <div class="container mt-5">
    <table class="table table-bordered shadow">
      <tr><th class="bg-light w-25">コード１</th><td>{{ obj.CODE1 }}</td></tr>
      <tr><th class="bg-light w-25">コード２</th><td>{{ obj.CODE2 }}</td></tr>
      <tr><th class="bg-light w-25">名称</th><td>{{ obj.NAME }}</td></tr>
      <tr><th class="bg-light w-25">カナ名称</th><td>{{ obj.CNAME }}</td></tr>
      <tr><th class="bg-light w-25">開始日</th><td>{{ obj.STARTDATE }}</td></tr>
      <tr><th class="bg-light w-25">終了日</th><td>{{ obj.ENDDATE }}</td></tr>
      <tr><th class="bg-light w-25">制御テキスト１</th><td>{{ obj.CONTROLTEXT1 }}</td></tr>
      <tr><th class="bg-light w-25">制御テキスト２</th><td>{{ obj.CONTROLTEXT2 }}</td></tr>
      <tr><th class="bg-light w-25">制御数値１</th><td>{{ obj.CONTROLINT1 }}</td></tr>
      <tr><th class="bg-light w-25">制御数値２</th><td>{{ obj.CONTROLINT2 }}</td></tr>
      <tr><th class="bg-light w-25">使用権限</th><td>{{ display_authority }}</td></tr>
      <tr><th class="bg-light w-25">作成者</th><td>{{ obj.CREATEUSER }}</td></tr>
      <tr><th class="bg-light w-25">作成日時</th><td>{{ obj.CREATEDATE }}</td></tr>
      <tr><th class="bg-light w-25">更新者</th><td>{{ obj.UPDATEUSER }}</td></tr>
      <tr><th class="bg-light w-25">更新日時</th><td>{{ obj.UPDATEDATE }}</td></tr>
    </table>
  </div>
{% endblock content %}