{% extends 'base.html' %}

{% block header %}
<title>{{title}}</title>
{% endblock %}

{% block button_area %}
<div class="container-fluid text-center">
<h4 style="text-align: center; margin-top: 1vh;">{{title}}</h4><hr noshade style="margin: 0;">
<!-- ボタンエリア -->
  <div class="container-fluid text-center button_area">
    <a href="{% url 'edit_karte_file_column' obj.id %}" class="btn btn_submit" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-edit"></i> 編集</a>
    <a href="{% url 'delete_karte_file_column' obj.id %}" class="btn btn_display" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-trash-alt"></i> 削除</a>
    <a href="{% url 'karte_file' obj.FILE_CODE %}" class="btn btn_close" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-undo-alt"></i> 戻る</a>
  </div>
</div>
{% endblock button_area %}

{% block content %}
  <div class="container mt-5">
    <table class="table table-bordered shadow">
      <tr><th class="bg-light w-25">ファイルコード</th><td>{{ obj.FILE_CODE }}</td></tr>
      <tr><th class="bg-light w-25">列名</th><td>{{ obj.COLUMN_NAME }}</td></tr>
      <tr><th class="bg-light w-25">修正前の列名</th><td>{{ obj.BEFORE_COLUMN_NAME }}</td></tr>
      <tr><th class="bg-light w-25">データの種類</th><td>{{ obj.DATA_TYPE }}</td></tr>
      <tr><th class="bg-light w-25">列追加</th><td>{{ obj.ADD_COLUMN_FLAG }}</td></tr>
      <tr><th class="bg-light w-25">追加文字</th><td>{{ obj.ADD_COLUMN_TEXT }}</td></tr>
      <tr><th class="bg-light w-25">開始日</th><td>{{ obj.STARTDATE }}</td></tr>
      <tr><th class="bg-light w-25">終了日</th><td>{{ obj.ENDDATE }}</td></tr>
      <tr><th class="bg-light w-25">作成者</th><td>{{ obj.CREATEUSER }}</td></tr>
      <tr><th class="bg-light w-25">作成日時</th><td>{{ obj.CREATEDATE }}</td></tr>
      <tr><th class="bg-light w-25">更新者</th><td>{{ obj.UPDATEUSER }}</td></tr>
      <tr><th class="bg-light w-25">更新日時</th><td>{{ obj.UPDATEDATE }}</td></tr>
    </table>
  </div>
{% endblock content %}