{% extends 'base.html' %}

{% block customcss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tempusdominus-bootstrap-4.css' %}">
{% endblock customcss %}

{% block header %}
<title>{{title}}</title>

<style type="text/css">
.tooltip .tooltip-inner { 
    background-color: #ffffcc;
    color: #000;
    border: solid 1px;
} 

.tooltip .arrow::before { 
    border-left-color: #ffffcc;
    color: #000;
    border: solid 1px;
} 
</style>
{% endblock %}

{% block button_area %}
<form action="{% url 'edit_hanyo' id %}" method="post">{% csrf_token %}
<div class="container-fluid text-center">
<h4 style="text-align: center; margin-top: 1vh;">{{title}}</h4><hr noshade style="margin: 0;">
<!-- ボタンエリア -->
  <div class="container-fluid text-center button_area">
    <button type="submit" class="btn btn_submit" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-save"></i> 保存</button>
    <a href="{% url 'delete_hanyo' id %}" class="btn btn_display" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-trash-alt"></i> 削除</a>
    <a href="{% url 'hanyo_leaf' form.code1.value %}" class="btn btn_close" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-undo-alt"></i> 戻る</a>
  </div>
</div>
{% endblock button_area %}

{% block content %}
  <div class="container mt-5">
    <table class="table table-bordered shadow">
      <tr>
        <th class="bg-light">コード１</th><td>{{ form.code1 }}</td><!-- 参考　https://stackoverrun.com/ja/q/12346548 -->
      </tr>
      <tr>
        <th class="bg-light">コード２</th><td>{{ form.code2 }}</td>
      </tr>
      <tr>
        <th class="bg-light">名称</th><td>{{ form.name }}</td>
      </tr>
      <tr>
        <th class="bg-light">カナ名称</th><td>{{ form.cname }}</td>
      </tr>
      <tr>
        <th class="bg-light">制御テキスト１</th><td>{{ form.controltext1 }}</td>
      </tr>
      <tr>
        <th class="bg-light">制御テキスト２</th><td>{{ form.controltext2}}</td>
      </tr>
      <tr>
        <th class="bg-light">制御数値１</th><td>{{ form.controlint1 }}</td>
      </tr>
      <tr>
        <th class="bg-light">制御数値２</th><td>{{ form.controlint2 }}</td>
      </tr>
      <tr>
        <th class="bg-light">使用権限</th>
          <td>{{form.authority}}</td>
      </tr>
      <tr>
        <th class="bg-light">開始日　～　終了日</th>
        <td>
          <span style="float: left; width: 40%;">
            <div class="input-group date" id="datetimepicker-startdate"  data-target-input="nearest">
              {{ form.startdate }}
              <div class="input-group-append" data-target="#datetimepicker-startdate" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
              </div>
            </div>
          </span>
          <span style="float: left; margin: 1% 3% 1% 3%;">～</span>
          <span style="float: left; width: 40%;">
            <div class="input-group date" id="datetimepicker-enddate"  data-target-input="nearest">
              {{ form.enddate }}
              <div class="input-group-append" data-target="#datetimepicker-enddate" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
              </div>
            </div>
          </span>
          <div style="clear: left;"></div>
        </td>
      </tr>
      <tr>
        <th class="bg-light">作成者</th><td>{{ form.createuser }}</td>
      </tr>
      <tr>
        <th class="bg-light">更新者</th><td>{{ form.updateuser }}</td>
      </tr>
    </table>
  </div>
  <input type="submit" style="visibility: hidden;" name="edit_hanyo_submit" id="edit_hanyo_submit">
</form>
  {% if error_item or end_start or duplicate %}
    <div class="container mt-5 p-4 text-danger">
      {% if error_str %}
          <p>「{{error_item}}」：{{error_str}}</p>
      {% endif %}
      {% if end_start %}
        <p>「開始日、終了日」：{{ end_start }}</p>
      {% endif %}
      {% if duplicate %}
        <p>「開始日、終了日」：{{ duplicate }}</p>
      <!-- 重複しているメッセージを表示する -->
        {% if duplicate_message %}
          <table class="table">
              <tr><th>行番号</th><td>{{ duplicate_message.LINENUMBER }}</td></tr>
              <tr><th>タイトル</th><td>{{ duplicate_message.TITLE }}</td></tr>
              <tr><th>メッセージ</th><td>{{ duplicate_message.MESSAGE }}</td></tr>
              <tr>
                <th>開始日　～　終了日</th>
                <td>
                  <span style="float: left; width: 40%;">{{ duplicate_message.STARTDATE }}</span>
                  <span style="float: left; margin: 1% 3% 1% 3%;">～</span>
                  <span style="float: left; width: 40%;">{{ duplicate_message.ENDDATE }}</span>
                  <p style="clear: left;">
                  </p>
                </td>
              </tr>
          </table>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}
{% endblock content %}

{% block script %}
<script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tempusdominus-bootstrap-4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datetimepicker_original.js' %}"></script>
{% endblock script %}