{% extends 'base.html' %}

{% block button_area %}
<div>
  <h4 style="text-align: center; margin-top: 1vh;">{{proc_name}}</h4><hr noshade style="margin: 0;">

  <!-- ボタンエリア -->
  <div class="text-center button_area">
    <a href="{% url 'indexview' %}" class="btn btn_close" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-times"></i> 閉じる</a>
  </div>
</div>
{% endblock button_area %}

{% block content %}
<div id="vue_page">
  <div class="container text-center exclusive_message">
      <h4>「{{ exclusion_messe }}」を実行中です。</h4>
      <div class="progress mt-5 shadow" style="height: 90px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" id="progress_bar"><h5>[|[progress_proba]|]</h5></div>
      </div>
  </div>
</div>
{% endblock content %}
{% block script %}
{% load static %}
<script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>
<script type="text/javascript">
  let obj_json = {{ obj_json|safe }};
  window.onload = function() {
    document.getElementById('progress_bar').style.width = String(obj_json.progress_proba) + "%";
    document.getElementById('loading_anime').style.visibility = 'hidden';
  }
  setTimeout(function () {
      location.reload();
  }, 10000);
  Vue.mixin({ delimiters: ["[|[", "]|]"] });
  var app = new Vue({
    el: '#vue_page',
    data: {
      progress_value: obj_json.progress_proba,
      progress_proba: String(obj_json.progress_proba) + "%",
    },
  })
</script>
{% endblock script %}