{% extends 'base.html' %}
{% block header %}
<style type="text/css">
.proc-flame{
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #FFFFFF;
    border-left: solid 6px #4169E1;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
.proc-flame p {
    margin: 0; 
    padding: 0;
}

.proc-flame h5 {
    margin: 0; 
    padding-bottom: 0;
    border-bottom: solid 1px #444444;
    font-weight: bold;
}
</style>
{% endblock %}

{% block button_area %}
<div class=" container-fluid">
  <h4 style="text-align: center; margin-top: 1vh;">{{ page_title }}</h4><hr noshade style="margin: 0;">

    <!-- ボタンエリア -->
    <div class="text-center button_area">
      <a href="{% url 'create_data' %}" class="btn btn_close" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0 1.5%;"><i class="fas fa-times"></i> 閉じる</a>
    </div>
</div>
{% endblock button_area %}

{% block content %}
  <div class="container">
    {% if receipt %}
      <div class="proc-flame">
        <h5>レセプト処理</h5>
        <p>格納フォルダ：「{{receipt_pre_folder}}」<br>
        対象ファイル：「RECEIPTC国保.UKE、 RECEIPTC社保.UKE、 "RECEIPTD国保.UKE、 RECEIPTD社保.UKE」</p>
        <table class="table table-sm table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">フォルダ</th>
              <th scope="col">状態</th>
            </tr>
          </thead>
          <tbody>
            {% for item in rece_pre_object_list %}
                {% if item.NGFLAG == 0 %}
                  <tr>
                      <td>{{ item.FOLDER }}</td>
                      <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
                  </tr>
                {% else %}
                  <tr style="background-color: #FFEEFF;">
                      <td>{{ item.FOLDER }}</td>
                      <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
                  </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

    {% if karte %}
      <div class="proc-flame">
        <h5>電子カルテ処理</h5>
        <p>データ格納フォルダ：「{{karte_pre_folder}}」
        <br>対象ファイル：<br>
        「DVT予防法.csv、  リハビリ計画書.csv、  リハビリ記録.csv、 介護支援連携指導.csv、 医師記録.csv、 受付.csv、 手術歴.csv、  手術記録.csv、 服薬指導記録.csv、 検査結果.csv、 看護記録.csv、」</p>
        <table class="table table-sm table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">状態</th>
            </tr>
          </thead>
          <tbody>
            {% for item in karte_pre_object_list %}
              {% if item.NGFLAG == 0 %}
                <tr>
                    <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
                </tr>
              {% else %}
                <tr style="background-color: #FFEEFF;">
                    <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

    {% if model %}
      <div class="proc-flame">
        <h5>モデル作成</h5>
        <p>前処理後のレセプトデータ格納フォルダ：「{{receipt_folder}}」<br>
        対象ファイル：「RECEIPTC国保.UKE、 RECEIPTC社保.UKE、 "RECEIPTD国保.UKE、 RECEIPTD社保.UKE」</p>
        <table class="table table-sm table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">フォルダ</th>
              <th scope="col">状態</th>
            </tr>
          </thead>
          <tbody>
            {% for item in rece_object_list %}
              {% if item.NGFLAG == 0 %}
                <tr>
                  　<td>{{ item.FOLDER }}</td>
                    <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
                </tr>
              {% else %}
                <tr style="background-color: #FFEEFF;">
                  　<td>{{ item.FOLDER }}</td>
                    <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        
        <p>前処理後の電子カルテデータ格納フォルダ：「{{karte_folder}}」</p>
        <p>対象ファイル：「カルテ全結合.csv」</p>
        <table class="table table-sm table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">状態</th>
            </tr>
          </thead>
          <tbody>
            {% for item in karte_object_list %}
              {% if item.NGFLAG == 0 %}
                <tr>
                    <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
                </tr>
              {% else %}
                <tr style="background-color: #FFEEFF;">
                    <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

    {% if predict %}
      <div class="proc-flame">
        <h5>検知</h5>
        <p>前処理後のレセプトデータ格納フォルダ：「{{receipt_folder}}」<br>
        対象ファイル：「RECEIPTC国保.UKE、 RECEIPTC社保.UKE、 "RECEIPTD国保.UKE、 RECEIPTD社保.UKE」</p>
        <table class="table table-sm table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">フォルダ</th>
              <th scope="col">状態</th>   
            </tr>
          </thead>
          <tbody>
            {% for item in rece_object_list %}
              {% if item.NGFLAG == 0 %}
                <tr>
                  　<td>{{ item.FOLDER }}</td>
                    <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
                </tr>
              {% else %}
                <tr style="background-color: #FFEEFF;">
                  　<td>{{ item.FOLDER }}</td>
                    <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        
        <p>前処理後の電子カルテデータ格納フォルダ：「{{karte_folder}}」</p>
        <p>対象ファイル：「カルテ全結合.csv」</p>
        <table class="table table-sm table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">状態</th>
            </tr>
          </thead>
          <tbody>
            {% for item in karte_object_list %}
              {% if item.NGFLAG == 0 %}
                <tr>
                    <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
                </tr>
              {% else %}
                <tr style="background-color: #FFEEFF;">
                    <td style="white-space:pre-wrap; word-wrap:break-word;">{{ item.STATUS }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
      {% if page_title == "データを確認し、更新ボタンをクリックしてください。" %}
        <form action="{% url 'FolderList' %}" method="post">
      {% else %}
        <form action="{% url 'admin_proc' %}" method="post">
      {% endif %}
          {% csrf_token %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="schedule" name="schedule">
                <label class="form-check-label" for="schedule">実行開始時間を設定する</label>
            </div>
          <div class="proc-dummy" style="visibility: visible;">
            {% if receipt %}
              <input type="checkbox" id="receipt_pp" name="receipt_pp" checked="checked">
            {% else %}
              <input type="checkbox" id="receipt_pp" name="receipt_pp">
            {% endif %}

            {% if karte %}
              <input type="checkbox" id="karte_pp" name="karte_pp" checked="checked">
            {% else %}
              <input type="checkbox" id="karte_pp" name="karte_pp">
            {% endif %}

            {% if model %}
              <input type="checkbox" id="model" name="model" checked="checked">
            {% else %}
              <input type="checkbox" id="model" name="model">
            {% endif %}

            {% if predict %}
              <input type="checkbox" id="predict" name="predict" checked="checked">
            {% else %}
              <input type="checkbox" id="predict" name="predict">
            {% endif %}
                <input type="text" id="codes" name="codes" value="{{select_str}}">
          </div>
            <div class="container text-center">
              {% if page_title == "データを確認し、更新ボタンをクリックしてください。" %}
                <input type="submit" value="再表示" class="btn btn-warning w-25">
              {% else %}
                <input type="submit" value="実行" class="btn btn-Secondary w-25" onclick="loadedStart();">
              {% endif %}
            </div>
        </div>
        </form>
  </div>
</div>
{% endblock content %}
