{% extends 'base.html' %}
{% block header %}
    <title>{{title}}</title>
{% endblock %}

{% block button_area %}
<div>
  <h4 style="text-align: center; margin-top: 1vh;">{{title}}</h4><hr noshade style="margin: 0;">
  <!-- ボタンエリア -->
  <div class="text-center button_area">
    <a href="{% url 'maintenanceIndex' %}" class="btn btn_close" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0 1.5%;"><i class="fas fa-times"></i> 閉じる</a>
  </div>
</div>
{% endblock button_area %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="background: linear-gradient(#EEEEEE, 40%, #EEEEEE); background: -ms-linear-gradient(top, #EEEEEE, #EEEEEE); border-bottom: 0px none; margin: 0; padding: 0;">
      <div class="position-sticky pt-3">
          <h5 style="padding: 1vh;"><i class="fas fa-book-reader"></i> <b>ヘッダー項目</b></h5>
        <ul class="nav flex-column" style="text-align: left; margin: 0;">
          <table class="table">
            {% for item in headers %}
            <tr>
              <td>
                <a href="{% url 'hanyo_leaf' item.CODE2 %}">{{item.NAME}}</a>
              </td>
            </tr>
            {% endfor %}
            {% if user_authority == '9' %}
            <tr>
              <td>
                <a href="{% url 'hanyo_leaf' 'header' %}">ヘッダー</a>
              </td>
            </tr>
            {% endif %}
          </table>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      {% if header_code and header_name %}
      <h5 class="pt-2" style="float: left;"><b>{{header_name}}</b></h5>
      <a class="btn btn_submit ml-2" href="{% url 'add_hanyo' header_code %}" style="float: left;"><i class="fas fa-plus"></i> 追加</a>
      <div style="clear: left;"></div>
      <div class="table-responsive">
        <table class="table table-striped table-sm shadow">
          <thead style="background: linear-gradient(#6495ED,#4169E1); color: #fff;">
            <tr>
              <th></th>
              <th>コード２</th>
              <th>名称</th>
              <th>ｶﾅ名称</th>
              <th>開始日</th>
              <th>終了日</th>
              <th>制御テキスト１</th>
              <th>制御テキスト２</th>
              <th>制御数値１</th>
              <th>制御数値２</th>
              <!-- <th>使用権限</th> -->
            </tr>
          </thead>
          <tbody>
            {% for i in select_header_objects %}
            <tr>
              <td><a href="{% url 'detail_hanyo' i.id %}">表示</a></td>
              <td>{{ i.CODE2 }}</td>
              <td>{{ i.NAME }}</td>
              <td>{{ i.CNAME }}</td>
              <td>{{ i.STARTDATE }}</td>
              <td>{{ i.ENDDATE }}</td>
              <td>{{ i.CONTROLTEXT1 }}</td>
              <td>{{ i.CONTROLTEXT2 }}</td>
              <td>{{ i.CONTROLINT1 }}</td>
              <td>{{ i.CONTROLINT2 }}</td>
              <!-- <td>{{ i.AUTHORITY }}</td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </main>
  </div>
</div>
{% endblock content %}





