{% extends 'base.html' %}
{% block header %}
    <title>前処理</title>
{% endblock %}

{% block content %}

<div class="container text-center block-main">
    <h4>前処理</h4><hr noshade>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="chkall" onclick="AllChecked()">
        <label class="form-check-label" for="chkall" >全選択</label>
    </div>
    <br>
    <form action="{% url 'FolderList' %}" method="post" id="selectProc" name="selectProc">
        <table class="table table-lg text-left">
              <thead class="thead-light">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">処理項目</th>
                  <th scope="col">前回処理日</th>
                </tr>
              </thead>
              {% csrf_token %}
            <tbody id="tablebody">
                <tr onclick="trClick('receipt_pp')">
                    <td><input Name='receipt_pp' id="receipt_pp" type="checkbox" onclick="SoloChecked(event)"></td>
                    <td>レセプト</td>
                    <td>{{ last_recepp_time }}</td>
                </tr>
                <tr onclick="trClick('karte_pp')">
                    <td><input Name='karte_pp' id="karte_pp" type="checkbox" onclick="SoloChecked(event)"></td>
                    <td>カルテ</td>
                    <td>{{ last_kartepp_time }}</td>
                </tr>
                <tr onclick="trClick('createmodel')">
                    <td><input Name='createmodel' id="createmodel" type="checkbox" onclick="SoloChecked(event)"></td>
                    <td>モデル作成</td>
                    <td>{{ last_model_time }}</td>
                </tr>
                <tr onclick="trClick('predict')">
                    <td><input Name='predict' id="predict" type="checkbox" onclick="SoloChecked(event)"></td>
                    <td>検知<a href="{% url 'item_select' %}" class="btn btn-secondary btn-sm" tabindex="-1" role="button" aria-disabled="true">項目選択</a></td>
                    <td>{{ last_result_time }}</td>
                </tr>
            </tbody>
        </table>

        <br>
        <div class="runBtn" id="run">
            <!-- <a href="{% url 'FolderList' %}" class="btn btn-primary w-25">実行</a> -->
          <input type="submit" value="チェック" class="btn btn-primary w-25">
        </div>
    </form>
</div>

{% endblock content %}