{% extends 'base.html' %}

{% block customcss %}
<style type="text/css">
.box9 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #ff7d6e;
    background: #ffebe9;
    border-top: solid 10px #ff7d6e;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);/*影*/
}
.box9 p {
    margin: 0; 
    padding: 0;
}
</style>
{% endblock customcss %}

{% block header %}
    <title>AIレセプト</title>
{% endblock %}




{% block content %}

<div class="container">
    {% if warning_message_list %}
    <div class="box9">
        <div class="row pt-3 pb-3 pl-3 pr-3">
            <div class="col-1">
                <h1><i class="fas fa-exclamation-triangle"></i></h1>
            </div>
            <div class="col">
                {% for i in warning_message_list %}
                <h5>{{ i }}</h5>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}