{% extends 'base.html' %}

{% block header %}
<title>算定項目編集</title>
<style type="text/css">
  table{
    table-layout: fixed;
    font-size: 120%;
    margin-top: 1%;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
  }
  th{
    background-color: #EEEEEE;
    width: 20%;
  }
</style>
{% endblock %}

{% block button_area %}
<div class="container-fluid text-center">
<h4 style="text-align: center; margin-top: 1vh;">算定項目編集</h4><hr noshade style="margin: 0;">
<!-- ボタンエリア -->
  <div class="container-fluid text-center button_area">
    <a href="{% url 'maintenance_item' %}" class="btn btn_close" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-times"></i> 閉じる</a>
  </div>
</div>
{% endblock button_area %}

{% block content %}
  <div class="container-fluid">
      <table class="table table-bordered shadow">
        <tbody>
          <tr>
            <th >算定項目コード</th>
            <td>{{ obj.CODE }}</td>
          </tr>
          <tr>
            <th >算定項目コード２</th>
            <td>{{ obj.CODE2 }}</td>
          </tr>
          <tr>
            <th >算定項目名称</th>
            <td>{{ obj.NAME }}</td>
          </tr>
          <tr>
            <th >点数</th>
            <td>{{ obj.POINTS }}</td>
          </tr>
          <tr>
            <th >検知率</th>
            <td>{{ obj.PREDICT_PROBA }}</td>
          </tr>
          <tr>
            <th >使用フラグ （1:使用可　0:使用不可）</th>
            <td>{{ obj.USE_FLAG }}</td>
          </tr>
          <tr>
            <th >開始日</th>
            <td>{{ obj.STARTDATE }}</td>
          </tr>
          <tr>
            <th >終了日</th>
            <td>{{ obj.ENDDATE }}</td>
          </tr>
          <tr>
            <th >備考</th>
            <td>{{ obj.NOTE }}</td>
          </tr>
        </tbody>
      </table>
  </div>



<!-- 追加　
列作成の編集
歴作成 -->


{% endblock content %}
