{% extends 'base.html' %}
{% block header %}
    <title>{{title}}</title>
{% endblock %}

{% block button_area %}
<div>
  <h4 style="text-align: center; margin-top: 1vh;">{{title}}</h4><hr noshade style="margin: 0;">
  <!-- ボタンエリア -->
  <div class="text-center button_area">
    <a href="{% url 'maintenanceIndex' %}" class="btn btn_close" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0 1.5%;"><i class="fas fa-times"></i> 閉じる</a>
  </div>
</div>
{% endblock button_area %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="background: linear-gradient(#EEEEEE, 40%, #EEEEEE); background: -ms-linear-gradient(top, #EEEEEE, #EEEEEE); border-bottom: 0px none; margin: 0; padding: 0;">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" style="text-align: left; margin: 0;">
          <table class="table table-borderless">
            <tr>
              <td>
                <a href="{% url 'karte_file' 'karte_file' %}">カルテファイル設定</a>
              </td>
            </tr>
            {% for i in karte_file_list %}
            <tr>
              <td>
                <a href="{% url 'karte_file' i.FILE_CODE %}">{{ i.FILE_NAME }}</a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      {% if display_name %}
        <h5 class="pt-2" style="float: left;"><b>{{display_name}}</b></h5>
        {% if display_name == 'カルテファイル設定' %}
        <a class="btn btn_submit ml-2" href="{% url 'add_karte_file' %}" style="float: left;"><i class="fas fa-plus"></i> 追加</a>
        <div style="clear: left;"></div>
        {% else %}
        <a class="btn btn_submit ml-2" href="{% url 'add_karte_file_column' file_code %}" style="float: left;"><i class="fas fa-plus"></i> 追加</a>
        <div style="clear: left;"></div>
        {% endif %}
      {% endif %}
      <div class="table-responsive">
        {% if karte_column_list %}
        <table class="table table-striped table-sm shadow">
          <thead style="background: linear-gradient(#6495ED,#4169E1); color: #fff;">
            <tr>
              <th></th>
              <th>列名</th>
              <th>修正前の列名</th>
              <th>データ型</th>
              <th>追加フラグ</th>
              <th>追加テキスト</th>
              <th>開始日</th>
              <th>終了日</th>
            </tr>
          </thead>
          <tbody>
            {% for i in karte_column_list %}
            <tr>
              <td><a href="{% url 'detail_karte_file_column' i.id %}">詳細</a></td>
              <td>{{ i.COLUMN_NAME }}</td>
              <td>{{ i.BEFORE_COLUMN_NAME }}</td>
              <td>{{ i.DATA_TYPE }}</td>
              <td>{{ i.ADD_COLUMN_FLAG }}</td>
              <td>{{ i.ADD_COLUMN_TEXT }}</td>
              <td>{{ i.STARTDATE }}</td>
              <td>{{ i.ENDDATE }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% elif display_name == 'カルテファイル設定' %}
        <table class="table table-striped table-sm shadow">
          <thead style="background: linear-gradient(#6495ED,#4169E1); color: #fff;">
            <tr>
              <th></th>
              <th>ファイルコード</th>
              <th>ファイル名</th>
              <th>列の変換</th>
              <th>開始日</th>
              <th>終了日</th>
            </tr>
          </thead>
          <tbody>
            {% for i in karte_file_list %}
            <tr>
              <td><a href="{% url 'detail_karte_file' i.FILE_CODE %}">詳細</a></td>
              <td>{{ i.FILE_CODE }}</td>
              <td>{{ i.FILE_NAME }}</td>
              {% if i.CONVERSION_FLAG %}
              <td>する</td>
              {% else %}
              <td>しない</td>
              {% endif %}
              <td>{{ i.STARTDATE }}</td>
              <td>{{ i.ENDDATE }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </main>
  </div>
</div>
{% endblock content %}
