{% extends 'base.html' %}

{% block customcss %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tempusdominus-bootstrap-4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tabulator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-multiselect.min.css' %}">

{% endblock customcss %}

{% block header %}
<title>{{menu_info.2.menu_name}}</title>
{% load aireceiptapp_extras %}
{% endblock header %}

{% block button_area %}
<h4 style="text-align: center; margin-top: 1vh;">{{menu_info.2.menu_name}}</h4><hr noshade style="margin: 0;">

<!-- ボタンエリア -->
<div class="container-fluid text-center button_area">
  <button type="button" class="btn btn_submit" value="表示" id="selectresultview" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="fas fa-search"></i>  表示</button>
  <button class="btn btn_excel" id="download-xlsx" type="button" value="出力" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0.1% 1.5%;"><i class="far fa-file-excel"></i> 出力</button>
  <a href="{% url 'indexview' %}" class="btn btn_close" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0 1.5%;"><i class="fas fa-times"></i>  閉じる</a>
</div>
{% endblock button_area %}

{% block content %}
<form method="post" action="{% url 'test_paginator' %}">
  {% csrf_token %}
  <div class="container-fluid mt-1">
    <div class="row mb-1">
      <div class="col">
        <div class="row mt-1">
          <div class="col">
            <div class="input-group shadow date" id="datetimepicker-seikyugetsu"  data-target-input="nearest">
              <div class="input-group-prepend"><div class="input-group-text">{{ form.seikyunengetsu.label }}</div></div>
              {{ form.seikyunengetsu }}
              <div class="input-group-append" data-target="#datetimepicker-seikyugetsu" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="input-group shadow">
              <div class="input-group-prepend">
                <div class="input-group-text">{{ form.check.label }}</div>              
              </div>
              {{ form.check }}
            </div>
          </div>
          <div class="col">
            <div class="input-group shadow">
              <div class="input-group-prepend">
                <div class="input-group-text">{{ form.dept.label }}</div>              
              </div>
              {{ form.dept }}
            </div>
          </div>
          <div class="col">
            <div class="input-group shadow">
              <div class="input-group-prepend">
                <div class="input-group-text">{{ form.ward.label }}</div>
              </div>
              {{ form.ward }}
            </div>
          </div>
          <div class="col">
            <div class="input-group shadow">
              <div class="input-group-prepend">
                <div class="input-group-text">{{ form.codename.label }}</div>
              </div>
              {{ form.codename }}
            </div>
          </div>
          <div class="col">
            <div class="input-group shadow">
              <div class="input-group-prepend">
                <div class="input-group-text">{{ form.zisseki.label }}</div>
              </div>
              {{ form.zisseki }}
            </div>
          </div>
          <div hidden>
            <input class="mt-1 btn btn_display" type="submit" name="" value="表示" id="submit_search">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="container-fluid">
    <table id="result-table">
      <thead>
        <tr>
          <th>id</th>
          {% for c in column_name_list %}
          <th>{{ c }}</th>
          {% endfor %}
        </tr>
      </thead>
      {% csrf_token %}
      <tbody>
      {% for item in objects %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.USER_CHECK }}</td>
          <td>{{ item.PATIENT_ID }}</td>
          <td>{{ item.PATIENT_NAMEJ }}</td>
          <td>{{ item.MEDICAL_CARE_DATE }}</td>
          {% if item.DEPT == '-1' or item.KENCHI0 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.DEPT }}</td>
          {% endif %}
          <td>{{ item.WARD }}</td>
          <td>{{ item.CODENAME }}</td>
          <td>{{ item.POINTS }}</td>
          <td>{{ item.PREDICT_PROBA }}</td>
          {% if item.KENCHI01 == '-1' or item.KENCHI01 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI01 }}</td>
          {% endif %}
          {% if item.KENCHI03 == '-1' or item.KENCHI03 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI03 }}</td>
          {% endif %}
          {% if item.KENCHI05 == '-1' or item.KENCHI05 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI05 }}</td>
          {% endif %}
          {% if item.KENCHI07 == '-1' or item.KENCHI07 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI07 }}</td>
          {% endif %}
          {% if item.KENCHI09 == '-1' or item.KENCHI09 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI09 }}</td>
          {% endif %}
          {% if item.KENCHI11 == '-1' or item.KENCHI11 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI11 }}</td>
          {% endif %}
          {% if item.KENCHI12 == '-1' or item.KENCHI12 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI12 }}</td>
          {% endif %}
          {% if item.KENCHI13 == '-1' or item.KENCHI13 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI13 }}</td>
          {% endif %}
          {% if item.KENCHI14 == '-1' or item.KENCHI14 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI14 }}</td>
          {% endif %}
          {% if item.KENCHI15 == '-1' or item.KENCHI15 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI15 }}</td>
          {% endif %}
          {% if item.KENCHI16 == '-1' or item.KENCHI16 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI16 }}</td>
          {% endif %}
          {% if item.KENCHI17 == '-1' or item.KENCHI17 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI17 }}</td>
          {% endif %}
          {% if item.KENCHI18 == '-1' or item.KENCHI18 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI18 }}</td>
          {% endif %}
          {% if item.KENCHI19 == '-1' or item.KENCHI19 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI19 }}</td>
          {% endif %}
          {% if item.KENCHI20 == '-1' or item.KENCHI20 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI20 }}</td>
          {% endif %}
          {% if item.KENCHI21 == '-1' or item.KENCHI21 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI21 }}</td>
          {% endif %}
          {% if item.KENCHI22 == '-1' or item.KENCHI22 == 'nan' %}
          <td></td>
          {% else %}
          <td>{{ item.KENCHI22 }}</td>
          {% endif %}
          <td>{{ item.KENCHI50 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
<form class="invisible" action="{% url 'inspection' %}" method="post" target="_blank">{% csrf_token %}
  <span><input type="text" name="month" id="month"></span>
  <span><input type="text" name="pid" id="pid"></span>
  <span><input type="submit" id="select_row_submit"></span>
</form>

{% endblock %}

{% block script %}
{% load static %}
<script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tempusdominus-bootstrap-4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datetimepicker_original.js' %}"></script>
<script type="text/javascript" src="{% static 'js/polyfill.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tabulator.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xlsx.full.min.js' %}"></script>
<script type="text/javascript">
let columnJson = {{ column_name_json|safe }}
console.log(columnJson.修正);
$(function(){
  $('#selectresultview').click(function(){
    $('#loading_anime').css('visibility','visible');
  });
});

var table = new Tabulator("#result-table", {
  height:"100%",
    layout:"fitColumns",
    tooltips:true,
    pagination:"local",
    paginationSize:25,
    paginationSizeSelector:[25, 50, 75, 100],
    columns:[
    {title:"id", field:"id", frozen:true, visible:false},
    {title:columnJson.修正, field:"user_check", width:70, hozAlign:"center", frozen:true,
      editor: "select",
      editorParams: {values: {"未": "未", "算定可": "算定可", "算定不可": "算定不可"}},
      headerFilter: "select", headerFilterParams: {values: ["未", "算定可", "算定不可"]},
      cellEdited:function(cell){
        let rowData = cell.getRow().getData();  
        if (cell.getField() == "user_check") {
          // Ajax送信
          $.ajax({
              url: "update_result/",
              type: "GET",
              data: {
              id: rowData.id,
              user_check: rowData.user_check,
              field_name: 'USER_CHECK',
              },
              success: function(result) {
              console.log(result);
              },
              error: function(error) {
              console.log(error);
              }
          });
        }
      }
    },
    {title:columnJson.患者番号, field:"pid", width:100, frozen:true, headerFilter:"input"},
    {title:columnJson.患者氏名, field:"pname", width:120, frozen:true, headerFilter:"input",
      cellClick:function(e, cell){
            let row = cell.getRow().getData();
            let patient_id = row["pid"];
            let medical_month = row["date"].slice(0,7);
            $("#pid").val(patient_id);
            $("#month").val(medical_month);
            $("#select_row_submit").trigger("click");
          }},
    {title:columnJson.診療日, field:"date", width:90, frozen:true, headerFilter:"input"},
    {title:columnJson.診療科, field:"dept", width:100, frozen:true, headerFilter:"input"},
    {title:columnJson.病棟, width:100,  frozen:true, headerFilter:"input"},
    {title:columnJson.算定項目名称, field:"codename", width:210, frozen:true, headerFilter:"input"},
    {title:columnJson.点数, field:"tensu", width:90,  frozen:true},
    {title:columnJson.確率, field:"kakuritsu", width:70, frozen:true},
    {title:columnJson.根拠1, field:"kenchi1", width:150, headerFilter:"input"},
    {title:columnJson.根拠2, field:"kenchi3", width:150, headerFilter:"input"},
    {title:columnJson.根拠3, field:"kenchi5", width:150, headerFilter:"input"},
    {title:columnJson.根拠4, field:"kenchi7", width:150, headerFilter:"input"},
    {title:columnJson.根拠5, field:"kenchi9", width:150, headerFilter:"input"},
    {title:columnJson.緊急入院, field:"kenchi11", width:100, headerFilter:"input"},
    {title:columnJson.緊急入院_2以外の場合, field:"kenchi12", width:100, headerFilter:"input"},
    {title:columnJson.救急医療管理加算2, field:"kenchi13", width:100, headerFilter:"input"},
    {title:columnJson.JCS値, field:"kenchi14", width:100, headerFilter:"input"},
    {title:columnJson.トリアージレベルフラグ, field:"kenchi15", width:150, headerFilter:"input"},
    {title:columnJson.入院中算定回数, field:"kenchi16", width:150, headerFilter:"input"},
    {title:columnJson.karute_all_弾性ストッキング, field:"kenchi17", width:150, headerFilter:"input"},
    {title:columnJson.karute_all_フットポンプ, field:"kenchi18", width:150, headerFilter:"input"},
    {title:columnJson.判定_ｈｂｓａｇ, field:"kenchi19", width:150, headerFilter:"input"},
    {title:columnJson.判定_ｈｃｖ, field:"kenchi20", width:150, headerFilter:"input"},
    {title:columnJson.カルテ_腹臥位, field:"kenchi21", width:150, headerFilter:"input"},
    {title:columnJson.karute_all_退院前カンファレンス, field:"kenchi22", width:150, headerFilter:"input"},
    {title:columnJson.メモ, field:"kenchi50", width:400, headerFilter:"input", editor: "input",
      cellEdited:function(cell){
        let rowData = cell.getRow().getData();
        if (cell.getField() == "kenchi50") {
          // Ajax送信
          $.ajax({
              url: "update_result/",
              type: "GET",
              data: {
              id: rowData.id,
              user_check: rowData.kenchi50,
              field_name: 'KENCHI50',
              },
              success: function(result) {
              console.log(result);
              },
              error: function(error) {
              console.log(error);
              }
          });
        }
      }
    },
    ],
    footerElement:"<span style='float: left;'>件数：{{ count_row }}</span>",
});
//trigger download of data.xlsx file
document.getElementById("download-xlsx").addEventListener("click", function(){
    table.download("xlsx", "data.xlsx", {sheetName:"My Data"});
});

$(function(){
  $('#id_dept').multiselect({
    buttonTextAlignment: 'left',
    includeSelectAllOption: true,
    maxHeight: 500,
    numberDisplayed:1,
  });
})
$(function(){
  $('#id_ward').multiselect({
    buttonTextAlignment: 'left',
    includeSelectAllOption: true,
    maxHeight: 500,
    numberDisplayed:1,
  });
})
$(function(){
  $('#id_codename').multiselect({
    buttonTextAlignment: 'left',
    enableFiltering: true,
    includeSelectAllOption: true,
    maxHeight: 500,
    numberDisplayed:1,
  });
})
$(function(){
  $('#selectresultview').click(function(){
    console.log('開始')
    $('#submit_search').trigger('click');
  });
});
</script>
{% endblock script %}
