{% extends 'base.html' %}
{% block header %}
    <title>予測結果</title>
{% endblock %}

{% block content %}
<div class="container text-center block-main">
  <h4>予測結果</h4><hr noshade>
  <p>
    <a href="#" class="btn btn-Secondary btn-lg w-25" tabindex="-1" role="button" aria-disabled="true">患者別</a>
  </p>
  <p>
    <a href="{% url 'item_result' %}" class="btn btn-Secondary btn-lg w-25" tabindex="-1" role="button" aria-disabled="true" >項目別</a>
  </p>
  <p>
    <a href="#" class="btn btn-Secondary btn-lg w-25" tabindex="-1" role="button" aria-disabled="true" >病棟別</a>
  </p>
  <p>
    <a href="#" class="btn btn-Secondary btn-lg w-25" tabindex="-1" role="button" aria-disabled="true">診療科別</a>
  </p>
  <p>
    <a href="{% url 'test' %}" class="btn btn-Secondary btn-lg w-25" tabindex="-1" role="button" aria-disabled="true">test</a>
  </p>
</div>

{% endblock content %}
