{% extends 'base.html' %}
{% block customcss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tempusdominus-bootstrap-4.css' %}">
{% endblock customcss %}
{% block header %}
    <title>{{title}}</title>
{% endblock %}

{% block button_area %}
<form method="POST" action="{% url 'user_list' %}">{% csrf_token %}
<div>
  <h4 style="text-align: center; margin-top: 1vh;">{{title}}</h4><hr noshade style="margin: 0;">
  <!-- ボタンエリア -->
  <div class="text-center button_area">
    <button type="submit" class="btn btn_display" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0 1.5%;"><i class="fas fa-search"></i> 表示</button>
    <a href="{% url 'user_add' %}" class="btn btn_submit" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0 1.5%;"><i class="fas fa-plus"></i> 追加</a>
    <a href="{% url 'maintenanceIndex' %}" class="btn btn_close" style="margin: 0.1% 0.5% 0.2% 0.5%; padding:0.1% 1.5% 0 1.5%;"><i class="fas fa-times"></i> 閉じる</a>
  </div>
</div>
{% endblock button_area %}

{% block content %}
<div class="container mt-5">
  <form method="POST" action="{% url 'user_list' %}">
    <div class="row mb-2 bg-light shadow-sm pt-2 pb-1">
      <div class="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              {{ form.userid.label }}
            </div>
          </div>
          {{ form.userid }}
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              {{ form.username.label }}
            </div>
          </div>
          {{ form.username }}
        </div>
      </div>
      <div class="col">
        <div class="input-group date mr-0" id="datetimepicker-targetdate"  data-target-input="nearest">
          <div class="input-group-prepend">
            <div class="input-group-text">
              {{ form.target_date.label }}
            </div>
          </div>
          {{ form.target_date }}
          <div class="input-group-append" data-target="#datetimepicker-targetdate" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <table class="table table-striped table-sm table-bordered shadow">
    <thead style="background: linear-gradient(#6495ED,#4169E1); color: #fff;">
      <tr>
        <th></th>
        <th>利用者ID</th>
        <th>利用者氏名</th>
        <th>開始日</th>
        <th>終了日</th>
      </tr>
    </thead>
    <tbody>
      {% for i in user_list %}
      <tr>
        <td><a href="{% url 'user_detail' i.id %}">詳細</a></td>
        <td>{{ i.CODE2 }}</td>
        <td>{{ i.NAME }}</td>
        <td>{{ i.STARTDATE }}</td>
        <td>{{ i.ENDDATE }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</form>
{% endblock content %}

{% load static %}


{% block script %}
<script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tempusdominus-bootstrap-4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datetimepicker_original.js' %}"></script>
{% endblock script %}



